@font-face {
  font-family: 'Proxima Nova';
  src: url(../assets/ProximaNova-Semibold.woff2) format('woff2');
  font-weight: 400;
}
body {
  margin: 0;
  font-family: 'Proxima Nova',Arial,Tahoma,PingFangSC,sans-serif,"Segoe UI Emoji","Noto Emoji";
  font-weight: 700;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}